@font-face {
    font-family: Norse;
    src: url('fonts/Norse-Bold.otf');
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#sidebar {
    /* background-color: rgba(0,0,0,.75); */
    background-image: url(blake-verdoorn-cssvEZacHvQ-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
}

#odin {
    background-color: rgba(0,0,0,.5);
    margin-top: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
}


#odin > span {
    color: white;
    font-size: 80px;
    font-family: 'Norse';
}

#blake-verdoorn {
    color: white;
    margin: 1em;
}

#main {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

#description {
    padding: 5em 0 2em 0;
    background: rgba(236, 236, 236, 0.5);
}

#description > * {
    padding: 2em 4em 1em 2em;
    font-size: large;
}

#form > span {
    margin: 1em 4em 1em 2em;
    display: flex;
    flex-direction: column;
}

#formBody {
    display: flex;
    margin: 0 2em 2em 2em;
}

#form > span {
    font-size: 1em;
    font-weight: bold;
}

#theForm {
    display: flex;
    flex-direction: column;
}

#formBody > div {
    display: flex;
    flex-direction: column;
    padding: 1em 3em 0 0;
}

#formBody > div > input {
    margin-bottom: 1em;
}
#formBody > div > label {
    font-size: x-small;
    font-weight: bold;
}

#logIn {
    background-color: rgba(236, 236, 236, 0.5);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 2em;
}

#submit {
    background-color:rgba(236, 236, 236, 0.5);
    width: 100vw;
    padding: 2em;
}

#submit > input {
    width: 12em;
    background: rgb(28, 72, 160);
    color: white;
    padding: .75em;
    border-radius: 5px;
    margin-bottom: 2em;
}

#submit > input:hover {
    background: rgba(28, 72, 160,.9);
    cursor: pointer;
}

#logIn > span > a {
    text-decoration: none;
    font-weight: bold;
}

div > input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

.error {
    border: 1px solid red;
}